---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="theme-color"
      content="#c7bca1"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#65647c"
      media="(prefers-color-scheme: dark)"
    />
    <title>{title}</title>
  </head>
  <body class="bg-[#c7bca1] dark:bg-[#65647c]">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: block;
  }
</style>
